
html {
  background-color: $color-bg;
}

.daytrack {
  color: $color-text;

  label { color: $color-text; }
  input {
    &::placeholder { color: rgba($color-text, 0.33); }
    color: $color-text;
    background-color: $color-bg;
  }

  .columns {
    .column {
      &.is-grow {
        flex-grow: 1;
      }
    }
  }

  .login,
  .register {
    .box {
      background-color: $color-track;
    }
  }

  .bubble {
    border-radius: $unit !important;
    border-right: solid $shadow-size $color-shadow-right !important;
    border-bottom: solid $shadow-size $color-shadow !important;
  }

  .track-create {
    padding: $unit * 2;
    background-color: $color-track;
    //position: fixed;
    top: $unit * 10;
    left: $unit * 4;
    right: $unit * 4;
    z-index: 10;

    .add {
      font-weight: bolder;
    }
  }

  .track-list {
    margin-top: $unit * 3;

    .track {
      &__body {
        @extend .notification;
        font-weight: 400;
        margin: 0;
        padding: $unit $unit * 2;
        padding-right: 2.5rem;
        color: $color-track-text;
        background-color: $color-track;

        &-time {
          font-weight: bolder;
          position: absolute;
          right: $unit * 1;
          top: $unit * 0;
          z-index: 10;
          opacity: 0.6;
        }
      }

      margin-bottom: $unit * 4;
    }
  }

  .tags {
    transform: translateY(23%);
    display: block;
    margin-top: $unit;
  }

  .tag {
    font-weight: 900;
    color: $color-tag-text;
    background-color: $color-tag;
    padding-top: 0.2rem;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;

    .value {
      &::before {
        opacity: 0.5;
        content: "#";
      }
    }
  }

  .tags-recent-list {
    max-height: $unit;
    margin-bottom: $unit * 2;
    transform: translateY(75%);

    .tag {
      transition: 0.3s;
      background-color: $color-tag-dark;

      &:hover {
        background-color: $color-tag;
      }
    }
  }
}
